html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

a {
    text-decoration: none;
}

i {
    color:grey;
    margin:2px;
}

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-size: contain;
}

.container {
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
    min-width: 500px;
    max-width: 450px;
    font-family: "IBM Plex Mono", monospace;
}

.header, h1 {
    font-family: "IBM Plex Mono", monospace;
    font-size: 32px;
    margin-top: 16px;
    color: #FF5733;
    text-align: center;
    justify-content: center;
}

.main-banner-mobile {
    display:none;
}
.header, .main-banner {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.main-banner .menu-list {
    list-style: none;
    display: flex; 
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    font-family: "IBM Plex Mono", monospace;
}

.menu-list :hover {
    color: #FF5733;
}

.menu-list li a {
    padding: 10px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.menu-list li ul {
    display: none;
    list-style: none;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    position: relative;
}

.menu-list, li:hover > ul {
    display: block;
    position: absolute;
}

.menu-list ul, a.submenu {
    display: flex;
    padding: 16px;
}

.receta {
    display: block;
    margin-top: 16px;
}

.receta-img {
    border-radius: 40px;
    width: 500px;
    height: 350px;
}

.info-article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}

.article-autor-date {
    display: flex;
    flex-direction: row;
    float: left;
}

ul.social-stats {
    display: flex;
    float: right;
    list-style: none;
}

.receta h3 {
    padding: 16px;
    color: #000000;
    font-size: 24px;
    text-align: center;
}

.receta .texto-receta {
    color: grey;
}

.receta, .cita {
    color:#000000;
    font-size: 12px;
    margin-top: 32px;
}

ul.ingredientes {
    margin-top: 24px;
    color: grey;
    list-style: circle;
}

.footer-social {
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    width: 100%;
    margin-top: 64px;
    border-bottom: 1px solid rgba(153, 151, 151, 0.932);
    padding-bottom: 5px;
}

.footer-social  a {
    color:grey;
}

.footer-nav {
    display: flex;
    justify-content: space-between;

}

.footer-nav-mobile {
    display: none;
}

/*Media query*/

@media only screen and (max-width: 400px) {



.container {
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
    font-family: "IBM Plex Mono", monospace;}

.main-banner-mobile {
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    width: 100%;
    background-color: #FF5733;
    padding: 5px;
    color: white;
    margin-left:10%;
}

.menu-mobile i {
    margin-top:5px;
}
  
.main-banner .menu-list {
    display:none;
}

.img-banner {
    width:80%;
    margin-left:25%;
}

.img-banner img {
    width: 100%;
    height: auto;
}    

.home-archive {
    width:100%;
    font-size: 10px;
    margin-left:20px;
}

.receta-img {
    border-radius:40px;
    width: 60%;
    margin: 5px;
}

.info-article-header {
    display: flex;
    flex-direction: row;
    font-size: 10px; 
    max-width: 250px;
    margin-left:20px;
}


.receta .texto-receta {
    display: block;
    color: grey;
    width: 60%;
    margin-bottom:5px;
    margin-left:3px;
}

ul.ingredientes {
        margin-top: 24px;
        color: grey;
        list-style: circle;
        margin-left: 30px;
    
}

.cita {
    width: 60%;
    border-left: 2px solid #FF5733;
    margin: 5px;
    padding: 5px;
}


.footer-nav {
    display:none;   
}
    
.footer-nav-mobile {
    display: flex;
    justify-content: space-between;
    list-style:none;
    margin-left: 20px;
}
    
 }